@font-face {
  font-family: "NotoSansKR-Black";
  font-weight: normal;
  src: url("./assets/fonts/NotoSansKR-Black.ttf");
}

:root {
	--font-googleGugi: "googleGugi";
	--font-NotoSansKR-Black: "NotoSansKR-Black";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
